<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Pax Web Snapshot" sequenceNumber="11">
<locations>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/pax-web-snapshot" type="Directory"/>
</locations>
</target>
