<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Nexus" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<repository location="https://source.dexels.com/nexus/content/repositories/thirdparty/.meta/p2/"/>
</location>
</locations>
</target>
